<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
	<!--animate min css-->
    <link href="~/css/shop/animate.min.css" rel="stylesheet" media="all"/>
	<!-- Custom Theme files -->
	<link href="~/css/shop/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<!--creditly-->
    <link href="~/css/shop/creditly.css" rel="stylesheet" media="all"/>
	<!--easy responsive tabs-->
	<link href="~/css/shop/easy-responsive-tabs.css" rel="stylesheet" />
	<!--flex slider-->
    <link href="~/css/shop/flexslider.css" rel="stylesheet" />
	<!--footer 1-->
    <link href="~/css/shop/footer1.css" rel="stylesheet" />
	<!--footer 2-->
    <link href="~/css/shop/footer2.css" rel="stylesheet" />
	<!--footer 3-->
	<link href="~/css/shop/footer3.css" rel="stylesheet" />
	<!--footer 4-->
    <link href="~/css/shop/footer4.css" rel="stylesheet" />
	<!-- shop css -->
	<link href="~/css/shop/shop.css" type="text/css" rel="stylesheet" media="all">
	<!-- checkout css -->
	<link href="~/css/shop/checkout.css" type="text/css" rel="stylesheet" media="all">
	<!-- Range-slider-css -->
	<link rel="stylesheet" type="text/css" href="~/css/shop/jquery-ui1.css">
	<!--jquery desoslide-->
    <link href="~/css/shop/jquery.desoslide.css" rel="stylesheet" />
	<!-- common-css -->
	<link href="~/css/shop/style.css" type="text/css" rel="stylesheet" media="all">
	<!-- font-awesome icons -->
	<link href="~/css/shop/font-awesome.css" rel="stylesheet">

	<!-- //Custom Theme files -->
	<!-- online-fonts -->
	<!-- logo -->
	<link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //online-fonts -->
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<div id="home">
		<!-- header -->
		<!-- navbar -->
		@Html.Partial("~/Views/Shared/_ShopNavBarPartialView.cshtml")
		<!-- //navbar ends here -->
		<!-- banner -->
		<div class="banner-bg-inner">
			<!-- banner-text -->
			<div class="banner-text-inner">
				<div class="container">
					<h2 class="title-inner">
						world of reading
					</h2>

				</div>
			</div>
			<!-- //banner-text -->
		</div>
		<!-- //banner -->
		@RenderBody()
		<!-- footer -->
		<div class="w3_footerv1 section">
			<div class="container">
				<div class="w3_footerv1_grids">
					<div class="col-md-3 col-sm-6 col-xs-6 w3_footerv1_grid">
						<h3>Contact</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
						<ul class="address">
							<li>
								<i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1185 Burlington
								<span>Canada.</span>
							</li>
							<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
							<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6  w3_footerv1_grid">
						<h3>Information</h3>
						<ul class="info">
							<li><a href="about.html">About Us</a></li>
							<li><a href="about.html">management team</a></li>
							<li><a href="index.html">self publish</a></li>
							<li><a href="#">free app's</a></li>
							<li><a href="contact.html">get help</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6  w3_footerv1_grid">
						<h3>Category</h3>
						<ul class="info">
							<li><a href="shop.html">Biography</a></li>
							<li><a href="shop.html">Fiction </a></li>
							<li><a href="shop.html">Literature</a></li>
							<li><a href="shop.html">Business</a></li>
							<li><a href="shop.html">Finance</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 w3_footerv1_grid">
						<h3>trending now</h3>
						<ul class="info">
							<li><a href="shop.html">audio books</a></li>
							<li><a href="shop.html">e-books</a></li>
						</ul>
						<h4>Follow Us</h4>
						<div class="agileits_social_button">
							<ul>
								<li><a href="#" class="facebook"> </a></li>
								<li><a href="#" class="twitter"> </a></li>
								<li><a href="#" class="google"> </a></li>
								<li><a href="#" class="pinterest"> </a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //footer -->
		<div class="cpy-right">
			<p>
				© 2018 Chronicle. All rights reserved | Design by
				<a href="http://w3layouts.com"> W3layouts.</a>
			</p>
		</div>
	</div>
	<!-- //home -->
	<!-- js -->
	<!-- Common js -->
	<script src="~/js/shop/jquery-2.2.3.min.js"></script>
	<!--// Common js -->
	<!-- cart-js -->
	<script src="~/js/shop/minicart.js"></script>
	<script>
		chr.render();

		chr.cart.on('new_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) { }
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- zoom -->
    <script src="~/js/shop/imagezoom.js"></script>
	<!-- zoom-->
	<!-- single -->
	<!-- FlexSlider -->
    <script src="~/js/shop/jquery.flexslider.js"></script>
	<script>
	// Can also be used with $(document).ready()
	$(window).load(function () {
		$('.flexslider1').flexslider({
			animation: "slide",
			controlNav: "thumbnails"
		});
	});
	</script>
	<!-- End FlexSlider -->
	<!-- price range (top products) -->
	<script src="~/js/shop/jquery-ui.js"></script>
	<script>
		//<![CDATA[
		$(window).load(function () {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 9000,
				values: [50, 6000],
				slide: function (event, ui) {
					$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
				}
			});
			$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

		}); //]]>
	</script>
	<!-- //price range (top products) -->
	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<!--search jQuery-->
	<script src="~/js/shop/main.js"></script>
	<!--search jQuery-->
	<!-- Scrolling Nav JavaScript -->
	<script src="~/js/shop/scrolling-nav.js"></script>
	<!-- //fixed-scroll-nav-js -->
	<!--//scripts-->

	<script src="~/js/shop/bootstrap.js"></script>
	<!-- start-smoth-scrolling -->
	<script src="~/js/shop/move-top.js"></script>
    <script src="~/js/shop/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smoothscroll -->
	<script src="~/js/shop/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->
	<script src="~/js/shop/numscroller-1.0.js"></script>
    <!-- //about bottom grid Numscroller -->
    <!-- Bootstrap core JavaScript-->
	@RenderSection("scripts", false)
</body>
</html>
