@using BookStore.DAL.Entities
@using BookStore.Logic.Shared.Model
@model IEnumerable<BookSummaryClientModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>.
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Formation</th>
                        <th>Discount price</th>
                        <th>Publishing house</th>
                        <th>Tag</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Formation</th>
                        <th>Discount price</th>
                        <th>Publishing house</th>
                        <th>Tag</th>
                        <th>Author</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model != null &&
                    Model.Any())
                    {
                        foreach (var book in Model)
                        {
                            <tr>
                                <td>@book.Format, @book.PrintRunSize</td>
                                <td>@book.DiscountPrice</td>
                                <td>@book.PulishingHouse</td>
                                <td>
                                    @foreach (var tag in book.Tags)
                                    {
                                        if(tag != null){
                                            string resultTag = new string(" ");
                                            resultTag = resultTag + tag.TagName.ToString() + ",";
                                        }
                                    }
                                </td>
                                <td>
                                    @{string? resultAuthor = " ";}
                                    @foreach (var author in book.AuthorBooks)
                                    {
                                        if(author != null){
                                            resultAuthor += author.Author.LastName.ToString() + " " + author.Author.FirstName.ToString() + ", ";
                                        }
                                    }
                                    @resultAuthor
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>