@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Admin">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Trang chính
            </a>
            <div class="sb-sidenav-menu-heading">Quản lý</div>
            <a class="nav-link" asp-action="Index" asp-controller="Category" asp-area="Admin">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-folder"></i></div>
                Danh mục
            </a>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSach" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Sách
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseSach" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-action="Index" asp-controller="Book" asp-area="Admin">Sách</a>
                    <a class="nav-link" asp-action="Index" asp-controller="Author" asp-area="Admin">Tác giả</a>
                    <a class="nav-link" asp-action="Index" asp-controller="Publisher" asp-area="Admin">Nhà xuất bản</a>
                    <a class="nav-link" asp-action="Index" asp-controller="Tag" asp-area="Admin">Thể loại</a>
                </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUser" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                Người dùng
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseUser" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="#">Thông tin</a>
                    <a class="nav-link" href="#">Quyền truy cập</a>
                    <a class="nav-link" href="#">Tài khoản</a>
                </nav>
            </div>
            <div class="sb-sidenav-menu-heading">Báo cáo</div>
            <a class="nav-link" href="charts.html">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Biểu đồ doanh thu
            </a>
            <a class="nav-link" href="tables.html">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Bảng doanh thu
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>