@using BookStore.DAL.Entities
@using BookStore.Logic.Shared.Model
@model BookDetailModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<ul class="list-group mb-4" id="group-publisher">
    <div class="row container" id="row-publisher">
        @foreach (var editionPublisher in Model.EditionPulisher)
        {
        <li id="publisher-0" class="list-group-item col-md-6 col-sm-12">
            <div class="container">
                <h5 class="title">Publisher</h5>
                <div class="row mt-3">
                    <div class="col-sm-12 col-lg-5 form-field p-2">
                        <input type="text" name="PulishingHouse" class="form-control form-input" placeholder=" ">
                        <label class="form-label" for="PulishingHouse">Pulishing House</label>
                    </div>
                    <div class="col-sm-12 col-lg-5 form-field p-2">
                        <input type="text" name="Country" class="form-control form-input" placeholder=" ">
                        <label class="form-label" for="Country">Country</label>
                    </div>
                </div>
                <div class="container">
                    <button id="remove" class="btn btn-danger float-end m-2" type="button" onclick="return removeTag(0)">
                        <i class="fa-solid fa-x"></i>
                    </button>
                    <button class="btn btn-info float-end m-2" onclick="ShowPublisherPopup('@Url.Action("ShowPublisherDialog", "Publisher", new{Area = "Admin", editionPublisher = editionPublisher}, Context.Request.Scheme)">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                </div>
            </div>
        </li>
        }
    </div>
    <div>
        <button class="btn btn-primary float-end m-2" onclick="ShowPublisherPopup('@Url.Action("ShowPublisherDialog", "Publisher", new{Area = "Admin"}, Context.Request.Scheme)')">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
</ul>