@using BookStore.DAL.Entities
@using BookStore.Logic.Shared.Model
@model BookDetailModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1>Detail</h1>

<div class="container-fluid px-4">
    <h1 class="mt-4">Static Navigation</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Static Navigation</li>
    </ol>
    <form action="#" method="post" enctype="multipart/form-data">
        <div class="card mb-4">
            <div class="card-body">
                <div id="book" class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <h2 class="title mb-5">Book</h2>
                            <div class="text-center mt-5 pt-5">
                                <img src="assets\img\images (20).jpg" class="img-fluid" />
                                <input type="file" id="file" accept="image/*" />
                                <label for="file" class="text-center" id="label-file">
                                    Choose a image
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-4 form-field">
                                    <input type="text" name="Title" class="form-control form-input" placeholder=" ">
                                    <label class="form-label" for="Title">Title</label>
                                </div>
                                <div class="col-md-12 col-lg-4 form-field">
                                    <input type="text" name="Keyword" class="form-control form-input" placeholder=" ">
                                    <label class="form-label" for="Keyword">Keyword</label>
                                </div>
                                <div class="col-md-12 col-lg-4 form-field">
                                    <input type="text" name="SeriesName" class="form-control form-input" placeholder=" ">
                                    <label class="form-label" for="SeriesName">Series</label>
                                </div>
                                <div class="col-md-12 col-lg-12 form-field mt-3">
                                    <input type="text" name="Description" class="form-control form-input" placeholder=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="card mb-4">
            <div class="card-body">
                <div id="info" class="container">
                    <h5 class="title">Info</h5>
                    <div class="row">
                        <div class="col-md-12 col-lg-4 form-field">
                            <input type="text" name="DiscountPercent" class="form-control form-input" placeholder=" ">
                            <label class="form-label" for="DiscountPercent">Discount Percent</label>
                        </div>
                        <div class="col-md-12 col-lg-4 form-field">
                            <input type="text" name="Language" class="form-control form-input" placeholder=" ">
                            <label class="form-label" for="Language">Language</label>
                        </div>
                        <div class="col-md-12 col-lg-4 form-field">
                            <input type="text" name="VolumeNumber" class="form-control form-input" placeholder=" ">
                            <label class="form-label" for="VolumeNumber">Volume Number</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div id="edition" class="container">
                    <h5 class="title">Edition</h5>
                    <div class="row">
                        <div class="col-md-12 col-lg-4 form-field">
                            <input type="text" name="ISBN" class="form-control form-input" placeholder=" ">
                            <label class="form-label" for="ISBN">ISBN</label>
                        </div>
                        <div class="col-md-12 col-lg-4 form-field">
                            <input type="date" name="PublishingDate" class="form-control form-input" placeholder=" ">
                            <label class="form-label" for="PublishingDate">Publishing Date</label>
                        </div>
                        <div class="col-md-12 col-lg-4 form-field">
                            <input type="text" name="Format" class="form-control form-input" placeholder=" ">
                            <label class="form-label" for="Format">Format</label>
                        </div>
                        <div class="col-md-12 col-lg-4 form-field">
                            <input type="text" name="PrintRunSize" class="form-control form-input" placeholder=" ">
                            <label class="form-label" for="PrintRunSize">Print Run Size</label>
                        </div>
                        <div class="col-md-12 col-lg-4 form-field">
                            <input type="text" name="Price" class="form-control form-input" placeholder=" ">
                            <label class="form-label" for="Price">Price</label>
                        </div>
                        <div class="col-md-12 col-lg-4 form-field">
                            <input type="text" name="Page" class="form-control form-input" placeholder=" ">
                            <label class="form-label" for="Page">Page</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="view-all-publisher">
            @Html.PartialAsync("~/Shared/PartialView/BookPublisherPartialView.cshtml", Model)
        </div>
        <ul class="list-group mb-4" id="group-tag">
            <div class="row container" id="row-tag">
                <li id="tag-0" class="list-group-item col-md-6 col-sm-12">
                    <div class="container">
                        <h5 class="title">Tag</h5>
                        <div class="clearfix"></div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-lg-10 form-field">
                                <input type="text" name="TagName" class="form-control form-input" placeholder=" ">
                                <label class="form-label" for="TagName">Tag Name</label>
                            </div>
                        </div>
                        <div class="container">
                            <button class="btn btn-primary float-end m-2">
                                <a class="text-decoration-none text-white" type="button" href=""><i class="fa-solid fa-plus"></i></a>
                            </button>
                            <button id="remove" class="btn btn-danger float-end m-2" type="button" onclick="return removeTag(0)">
                                <i class="fa-solid fa-x"></i>
                            </button>
                            <button class="btn btn-info float-end m-2">
                                <a class="text-decoration-none text-white" type="button" href=""><i class="fa-regular fa-pen-to-square"></i></a>
                            </button>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
        <div class="clearfix"></div>
        <ul class="list-group mb-4" id="group-tag">
            <div class="row container" id="row-tag">
                <li id="tag-0" class="list-group-item col-md-6 col-sm-12">
                    <div class="container">
                        <h5 class="title">Author</h5>
                        <div class="clearfix"></div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-lg-10 form-field">
                                <input type="text" name="TagName" class="form-control form-input" placeholder=" ">
                                <label class="form-label" for="TagName">Author Name</label>
                            </div>
                        </div>
                        <div class="container">
                            <button class="btn btn-primary float-end m-2">
                                <a class="text-decoration-none text-white" type="button" href=""><i class="fa-solid fa-plus"></i></a>
                            </button>
                            <button id="remove" class="btn btn-danger float-end m-2" type="button" onclick="return removeTag(0)">
                                <i class="fa-solid fa-x"></i>
                            </button>
                            <button class="btn btn-info float-end m-2">
                                <a class="text-decoration-none text-white" type="button" href=""><i class="fa-regular fa-pen-to-square"></i></a>
                            </button>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
        <div class="container mt-5">
            <div class="row">
                <div class="col-6 text-end">
                    <button id="save" class="btn btn-primary" type="submit">
                        <span class="fs-4">Back</span>  <i class="fa-solid fa-caret-left fs-4"></i>
                    </button>
                </div>
                <div class="col-6">
                    <button id="save" class="btn btn-success" type="submit">
                        <span class="fs-4">Save</span>  <i class="fa-solid fa-floppy-disk fs-4"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div style="height: 100vh"></div>
    <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
</div>