@using BookStore.DAL.Entities
@using BookStore.Logic.Shared.Model
@using BookStore.Common.Shared.Model
@model IEnumerable<BookSummaryModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Books Manager</h1>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-danger">Danh sách loại sản phẩm</strong>
            </div>
            <div class="col-md-6 text-end">
                <a onclick="ShowPopup('@Url.Action("Create", "Book", new {Area = "Admin"}, Context.Request.Scheme)', 'New Book')" class="btn btn-sm btn-success">
                    <i class="fa-solid fa-plus"></i> Thêm
                </a>
                <a href="@Url.Action("Trash", "Author")" class="btn btn-sm btn-danger">
                    <i class="fa-solid fa-trash-alt"></i> Thùng rác
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th class="text-center">Tựa sách</th>
                    <th class="text-center">Tên tác giả</th>
                    <th class="text-center">Tập</th>
                    <th class="text-center">Mã sách</th>
                    <th class="text-center">Nhà xuất bản</th>
                    <th class="text-center">Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="body-list">
                @Html.Partial("~/Areas/Admin/Views/Book/List.cshtml", Model)
            </tbody>
            <tfoot>
                <tr>
                    <th>Tựa sách</th>
                    <th>Tên tác giả</th>
                    <th>Đầu sách(tập)</th>
                    <th>Mã sách</th>
                    <th>Nhà xuất bản</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
