
@{
    ViewData["Title"] = "Create Publisher";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form id="form-create-book-image" method="post" asp-action="CreateBookImage" asp-controller="Book" enctype="multipart/form-data" asp-area="Admin">
    <div class="container">
        <h5 class="title">Publisher</h5>
        <div class="row mt-3">
            <div class="col-sm-12 col-lg-5 form-field p-2">
                <input type="text" name="PulishingHouse" class="form-control form-input" placeholder=" ">
                <label class="form-label" for="PulishingHouse">Pulishing House</label>
            </div>
            <div class="col-sm-12 col-lg-5 form-field p-2">
                <input type="text" name="Country" class="form-control form-input" placeholder=" ">
                <label class="form-label" for="Country">Country</label>
            </div>
        </div>
        <div class="container">
            <button class="btn btn-primary float-end m-2">
                <a class="text-decoration-none text-white" type="button" href=""><i class="fa-solid fa-plus"></i></a>
            </button>
            <button id="remove" class="btn btn-danger float-end m-2" type="button" onclick="return removeTag(0)">
                <i class="fa-solid fa-x"></i>
            </button>
            <button class="btn btn-info float-end m-2">
                <a class="text-decoration-none text-white" type="button" href=""><i class="fa-regular fa-pen-to-square"></i></a>
            </button>
        </div>
    </div>
</form>
<script>
    CKEDITOR.replace("Decription");
</script>
