
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = null;
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        Bạn đã hoàn thành xác thực email.
        Hãy <a asp-controller="Account" asp-action="Login" class="btn btn-primary">bấm vào đây để đăng nhập</a>.
    </p>
</div>