@using BookStore.Website.Areas.Identity.Models.Manage
@model ChangePasswordViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
    <h4>Thông tin</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-12 col-lg-4 form-field p-2">
        <input type="text" asp-for="OldPassword" class="form-control form-input" placeholder=" ">
        <label class="form-label" asp-for="OldPassword"></label>
        <div class="row">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12 col-lg-4 form-field p-2">
        <input type="text" asp-for="NewPassword" class="form-control form-input" placeholder=" ">
        <label class="form-label" asp-for="NewPassword"></label>
        <div class="row">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12 col-lg-4 form-field p-2">
        <input type="text" asp-for="ConfirmPassword" class="form-control form-input" placeholder=" ">
        <label class="form-label" asp-for="ConfirmPassword"></label>
        <div class="row">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-danger">Đổi mật khẩu</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }